<?xml version="1.0"?>
<configuration>
  <!-- Note for logging configuration please look at log4net.config-->
  <configSections>
    <sectionGroup name="estat.nsi.ws.config">
      <section name="auth" type="Estat.Nsi.AuthModule.AuthConfigSection, Estat.Nsi.AuthModule, Version=1.0.0.0, Culture=neutral"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Estat.Sri.Ws.Controllers.Constants.HeaderSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="estat.sri">
      <section name="mapping.store" type="Estat.Sri.MappingStoreRetrieval.Config.MappingStoreConfigSection, MappingStoreRetrieval"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Replace HOST with hostname or IP address of the server/PC running mapping store database -->
    <!-- Replace MADB with Mapping store database -->
    <!-- Replace USER with Mapping store database user name -->
    <!-- Replace PASS with Mapping store database user password -->
    <!-- Uncomment only one <add.../> at a time.-->
    <!-- Sql Server without any instance-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST;Initial Catalog=MADB;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
    <!-- Sql Server Express-->
    <!--add name="MappingStoreServer" connectionString="Data Source=avana2012;Initial Catalog=MASTORE_LOMB_ULTIM;Integrated Security=False;User Id=mauser;Password=mauser" providerName="System.Data.SqlClient"/-->
    <add name="MappingStoreServer" connectionString="Data Source=DBSDMX;Initial Catalog=MASTORE_SEP3_ULT;Integrated Security=False;User Id=mauser;Password=mauser" providerName="System.Data.SqlClient"/>
    <!--<add name="MappingStoreServer" connectionString="Data Source=avana2012;Initial Catalog=MSDB_FEB2015;Integrated Security=False;User Id=mauser;Password=mauser" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=avana2012;Initial Catalog=MASTORE_SEMSDMX_12022015;Integrated Security=False;User Id=mauser;Password=mauser" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=avana2012.pc.istat.it;Initial Catalog=MASTORE_SEP_REST;Integrated Security=False;User Id=mauser;Password=mauser" providerName="System.Data.SqlClient"/>-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST\sqlexpress;Initial Catalog=MADB;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
    <!-- Sql Server Express on localhost using integral security-->
    <!--<add name="MappingStoreServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MADB;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <!-- Oracle using the Microsoft oracle provider -->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST/MADB;User ID=USER;Password=PASS"
        providerName="System.Data.OracleClient" />-->
    <!-- Oracle Express using the Microsoft oracle provider -->
    <!--<add name="MappingStoreServer" connectionString="Data Source=XE;User ID=USER;Password=PASS"
         providerName="System.Data.OracleClient" />-->
    <!-- Oracle Express using the Oracle ODP.NET provider -->
    <!--<add name="MappingStoreServer" connectionString="Data Source=HOST/MADB;User ID=USER;Password=PASS"
         providerName="Oracle.DataAccess.Client" />-->
    <!-- MySQL -->
    <!--<add name="MappingStoreServer" connectionString="server=HOST;user id=USER;password=PASS;database=MADB" providerName="MySql.Data.MySqlClient"/>-->
    <!-- The same applies to Authorization/Authentication database. Default name : 'authdb' but can be changed at dbAuth config below-->
    <!-- Example of using authtest db on localhost sqlexpress db-->
    <!--<add name="authdb" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=authtest;Integrated Security=False;User ID=USER;Password=PASS"
     providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <!--Default header settings-->
    <Estat.Sri.Ws.Controllers.Constants.HeaderSettings>
      <setting name="test" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="truncated" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="name" serializeAs="String">
        <value>Trans46302</value>
      </setting>
      <setting name="sendercontactdepartment" serializeAs="String">
        <value>Statistics</value>
      </setting>
      <setting name="sendercontacttelephone" serializeAs="String">
        <value>210 2222222</value>
      </setting>
      <setting name="sendercontactfax" serializeAs="String">
        <value>210 00010999</value>
      </setting>
      <setting name="sendercontactx400" serializeAs="String">
        <value/>
      </setting>
      <setting name="sendercontacturi" serializeAs="String">
        <value>http://www.sdmx.org</value>
      </setting>
      <setting name="receivercontacttelephone" serializeAs="String">
        <value>210 1234567</value>
      </setting>
      <setting name="receivercontactfax" serializeAs="String">
        <value>210 3810999</value>
      </setting>
      <setting name="receivercontactx400" serializeAs="String">
        <value>lalala</value>
      </setting>
      <setting name="receivercontacturi" serializeAs="String">
        <value>http://www.sdmx.org</value>
      </setting>
      <setting name="datasetagency" serializeAs="String">
        <value>BIS</value>
      </setting>
      <setting name="datasetaction" serializeAs="String">
        <value>Append</value>
      </setting>
      <setting name="reportingbegin" serializeAs="String">
        <value>2000-12-01T00:00:00</value>
      </setting>
      <setting name="reportingend" serializeAs="String">
        <value>2006-01-01T00:00:00</value>
      </setting>
      <setting name="lang" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="id" serializeAs="String">
        <value>IT1001</value>
      </setting>
      <setting name="prepared" serializeAs="String">
        <value>2001-03-11T09:30:47-05:00</value>
      </setting>
      <setting name="senderid" serializeAs="String">
        <value>ISTAT</value>
      </setting>
      <setting name="sendername" serializeAs="String">
        <value>Italian Statistical Institute</value>
      </setting>
      <setting name="sendercontactname" serializeAs="String">
        <value>Francesco Rizzo</value>
      </setting>
      <setting name="sendercontactrole" serializeAs="String">
        <value>IT Staff</value>
      </setting>
      <setting name="sendercontactemail" serializeAs="String">
        <value>rizzo@istat.it</value>
      </setting>
      <setting name="receiverid" serializeAs="String">
        <value>ESTAT</value>
      </setting>
      <setting name="receivername" serializeAs="String">
        <value>Eurostat</value>
      </setting>
      <setting name="receivercontactname" serializeAs="String">
        <value>Bengt-Ake Lindblad</value>
      </setting>
      <setting name="receivercontactdepartment" serializeAs="String">
        <value>Information Technology</value>
      </setting>
      <setting name="receivercontactrole" serializeAs="String">
        <value>IT Staff</value>
      </setting>
      <setting name="receivercontactemail" serializeAs="String">
        <value>bengt-ake.lindblad@ec.europa.eu</value>
      </setting>
      <setting name="datasetid" serializeAs="String">
        <value>ISTAT_JD_237</value>
      </setting>
      <setting name="extracted" serializeAs="String">
        <value>2001-03-11T09:30:47-05:00</value>
      </setting>
      <setting name="source" serializeAs="String">
        <value>source</value>
      </setting>
      <setting name="keyfamilyref" serializeAs="String">
        <value>kfRef</value>
      </setting>
      <setting name="keyfamilyagency" serializeAs="String">
        <value>kfAg</value>
      </setting>
    </Estat.Sri.Ws.Controllers.Constants.HeaderSettings>
  </applicationSettings>
  <appSettings>
    <!--<add key="path" value="c:\instantclient11_xcopy_64bit"/>-->
    <!--<add key="bin32" value="win32"/>-->
    <!--<add key="bin64" value="x64"/>-->
    <add key="isZipped" value="true"/>
    <add key="isIndented" value="true"/>
    <!--CSVZip-->
    <add key="urlAddress" value="http:\\www.istat.it"/>
    <!--DSPL-->
    <add key="UriEntity" value="http://www.google.com/publicdata/dataset/google/entity"/>
    <add key="UriMetrics" value="http://www.google.com/publicdata/dataset/metrics"/>
    <add key="UriQuantity" value="http://www.google.com/publicdata/dataset/google/quantity"/>
    <add key="UriGeo" value="http://www.google.com/publicdata/dataset/google/geo"/>
    <add key="UriTime" value="http://www.google.com/publicdata/dataset/google/time"/>
    <add key="DsplSchema" value="http://schemas.google.com/dspl/2010"/>
    <!-- The following setting is obsolete. Please use ddbSettings below-->
    <!--<add key="defaultDDBOracleProvider" value="Oracle.DataAccess.Client"/>-->
  </appSettings>
  <estat.nsi.ws.config>
    <!-- authentication configuration-->
    <auth anonymousUser="" realm="nsiws">
      <userCredentialsImplementation type="Estat.Nsi.AuthModule.UserCredentialsHttpBasic, Estat.Nsi.AuthModule"/>
      <authenticationImplementation type="Estat.Nsi.AuthModule.DbAuthenticationProvider, Estat.Nsi.AuthModule"/>
      <userImplementation type="Estat.Nsi.AuthModule.UserPassThrough, Estat.Nsi.AuthModule, Version=1.0.0.0, Culture=neutral"/>
      <authorizationImplementation type="Estat.Nsi.AuthModule.DbAuthorizationProvider, Estat.Nsi.AuthModule"/>
      <dbAuth>
        <authentication sql="select password from users where userid=${user}" connectionStringName="authdb"/>
        <authorization sql="select d.id as ${id}, d.ver as ${version}, d.agency as ${agencyId} from users u inner join user_df ud on u.pk=ud.user_pk inner join dfs d on d.pk = ud.df_pk where u.userid=${user}"/>
      </dbAuth>
    </auth>
  </estat.nsi.ws.config>
  <estat.sri>
    <mapping.store>
      <!-- General Database settings apply to both Mapping Store (MSDB) and dissemination databases (DDB) -->
      <!-- Options are: -->
      <!-- provider : The .NET DB Provider name. Mandatory and unique -->
      <!-- subStringCmd : The substring command. Defaults to : SUBSTR -->
      <!-- subStringNeedsLength : Whether the substring command requires to specify the length. Defaults to : false -->
      <!-- parameterMarkerFormat : The named parameter format. Mandatory. -->
      <!-- castToStringFormat : The format text that should be used to cast to string. Defaults to: {0} -->
      <!-- dateCast : The date cast command. Defaults to "" -->
      <!-- subQueryOrderByAllowed : Whether a sub query can have an order by. Defaults to true. -->
      <DatabaseSettings>
        <clear/>
        <add provider="System.Data.SqlClient" subStringCmd="SUBSTRING" subStringNeedsLength="true" parameterMarkerFormat="@{0}" castToStringFormat="CAST({0} AS VARCHAR)" subQueryOrderByAllowed="false"/>
        <add provider="Oracle.DataAccess.Client" parameterMarkerFormat=":{0}" dateCast="DATE"/>
        <!-- Please note that System.Data.OracleClient is obsolete and no longer maintained by Microsoft. -->
        <add provider="System.Data.OracleClient" parameterMarkerFormat=":{0}" dateCast="DATE"/>
        <add provider="MySql.Data.MySqlClient" parameterMarkerFormat="@{0}" dateCast="DATE"/>
        <!-- DDB only providers -->
        <add provider="org.estat.PcAxis.PcAxisProvider" parameterMarkerFormat="@{0}"/>
        <!-- ODBC options depend on the ODBC driver used. -->
        <add provider="System.Data.Odbc" parameterMarkerFormat="?" subStringCmd="SUBSTRING" subStringNeedsLength="true" castToStringFormat="CAST({0} AS VARCHAR)" subQueryOrderByAllowed="false"/>
      </DatabaseSettings>
      <!-- Dissemination Database (DDB) settings only -->
      <!-- Options are: -->
      <!-- name : The DDB provider name. Mandatory and unique.-->
      <!-- provider : The .NET DB Provider name. -->
      <ddbSettings>
        <clear/>
        <add name="SqlServer" provider="System.Data.SqlClient"/>
        <add name="Oracle" provider="Oracle.DataAccess.Client"/>
        <add name="PCAxis" provider="org.estat.PcAxis.PcAxisProvider"/>
        <add name="MySQL" provider="MySql.Data.MySqlClient"/>
        <add name="Odbc" provider="System.Data.Odbc"/>
      </ddbSettings>
    </mapping.store>
  </estat.sri>
  <system.data>
    <DbProviderFactories>
      <!-- PC Axis driver -->
      <add name="Pc Axis Provider" invariant="org.estat.PcAxis.PcAxisProvider" description=".Net Framework Data Provider for Pc-Axis" type="org.estat.PcAxis.PcAxisProvider.PcAxisFactory, PcAxis, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </DbProviderFactories>
  </system.data>
  <!-- Needed for IIS 6 -->
  <uri>
    <schemeSettings><add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes"/></schemeSettings>
  </uri>
  <!-- IIS 7/8 configuration-->
  <system.webServer>
    <security>
      <!-- This is required for REST data queries -->
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--Uncomment the NsiAuthModule line to enable authentication/authorization on IIS 7.x/8.x integrated mode-->
      <!--<add name="NsiAuthModule" type="Estat.Nsi.AuthModule.NsiAuthModule, Estat.Nsi.AuthModule"/>-->
      <!-- URL routing for WCF for IIS 7.x/8.x -->
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
  </system.webServer>
  <system.web>
    <sessionState mode="Off"/>
    <!-- Required for IIS -->
    <httpRuntime relaxedUrlToFileSystemMapping="true" requestValidationMode="2.0" maxRequestLength="500" maxQueryStringLength="4096"/>
    <httpModules>
      <!--Uncomment the NsiAuthModule line to enable authentication/authorization on IIS 5.x, 6.x or IIS 7.x classic mode. -->
      <!--<add name="NsiAuthModule" type="Estat.Nsi.AuthModule.NsiAuthModule, Estat.Nsi.AuthModule" />-->
      <!-- URL routing for WCF - Requires Wildcard mapping to be configured in IIS 5.x/6.x settings -->
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </httpModules>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <!-- Required for WCF services to get information from ASP.NET -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xml.Schema.Linq" publicKeyToken="47d0c84d0ebb13e5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.3.0.0" newVersion="0.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>